.calculator__wrap {
  display: flex;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.calculator {
  max-width: 260px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: linear-gradient(145deg, #31538c, #467bff);
  color: white;
  font-size: 16px;
}

.calculator__display {
  font-size: 1.2em;
  padding: 10px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 30px 0 20px;
  font-weight: 400;
  border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  text-align: right;
  overflow-wrap: break-word;
  word-break: break-all;
}

.calculator__result {
  font-size: 1.7em;
  font-weight: 500;
  margin: 20px 0 10px;
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;
}

.button {
  padding: 14px;
  font-size: 1.2em;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: 'Roboto';
  font-weight: 400;
  aspect-ratio: 1 / 1;
}

.button_equally {
  background-color: #fff;
  color: #467bff;
}

.button:hover {
  transform: scale(1.03);
  background-color: #ffffff50;
}

.button:active {
  transform: scale(0.95);
  background-color: #ffffff70;
}

@media screen and (max-width: 500px) {
  .calculator__wrap {
    width: 100%;
  }

  .calculator {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 410px) {
  .calculator {
    font-size: 12px;
  }
}
